<section id="splash-screen">
  <div class="splash-logo">
    <img src="https://www.coolgenerator.com/Data/Textdesign/202308/b5afa0d52a907e6af667d4791a89d487.png" alt="Budget App Logo">
  </div>
  <div class="splash-buttons">
    <%= link_to 'Log In', new_user_session_path, class: "login-btn" %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "signup-btn" %>
  </div>
</section>
